<form action="/admin/header/meta" method="POST" class="header_letters-input mono" >
	<!-- TODO Есть баг. При рендере появляются дополнительные строки. -->
	<textarea id="header" type="text" name="title" value="{{this.title}}" placeholder="title" >{{{this.title}}}</textarea>
	{{> ui/input.color this}}
	{{> ui/select.mixBlendMode }}
	{{> ui/button.small text="Send" type="submit"}}
</form>
