<div class="page_buttons grid-main menu-wrapper wrapper" >
	<div class="block-create_container" >
	</div>
</div>

<form action="/admin/{{pageID}}/{{block.id}}" method="post" enctype="multipart/form-data" id="{{block.id}}" 
class="dynamic_container elements menu-wrapper wrapper grid-4">
	{{#each block.elements}}
  		{{#> element_admin }}
			{{> element_options}}
		{{/ element_admin}}
	{{/each}}

  	<div class="element-container pages_button-container">
		{{>ui/button_big text="Изображине"}}
		{{>ui/button_big text="Текст"}}
		{{>ui/button_big text="Галлерея"}}
  		{{> ui/button_plus}}
		<!-- {{> ui/button_big class="dynamic_reorder" text="Reorder"}} -->
		{{> ui/button_big "dynamic_reorder" text="Save"}}
  	</div>
</form>

<script type="module" src="/script/dynamic_create.js"></script>
<script type="module" src="/script/dynamic_remove.js"></script>

<script type="module" src="/script/dynamic_move.js"></script>
<script type="module" src="/script/dynamic_reorder.js"></script>
