<div class="page_buttons grid-main menu-wrapper wrapper" >
	<div class="block-create_container" >
	</div>
</div>

<form action="/admin/{{pageID}}/{{block.id}}" method="post" enctype="multipart/form-data" id="{{block.id}}" 
class="dynamic_container elements menu-wrapper wrapper grid-4">
	{{#each block.elements}}
  		{{#> element.admin }}
			{{> element.options}}
		{{/ element.admin}}
	{{/each}}

  	<div class="element-container pages_button-container">
		{{>ui/radio.big checked=(isRadioChecked "image") class="image" text="Изображине" name="type" value="image"}}
		{{>ui/radio.big checked=(isRadioChecked "text") class="text" text="Текст" name="type" value="text"}}
		{{>ui/radio.big checked=(isRadioChecked "gallery") class="gallery" text="Галлерея" name="type" value="gallery"}}

  		{{> ui/button.plus}}
		{{> ui/button.big class="dynamic_rewrite" text="Save"}}
  	</div>
</form>

<script type="module" src="/script/dynamic_create.js"></script>
<script type="module" src="/script/dynamic_remove.js"></script>

<script type="module" src="/script/dynamic_move.js"></script>
<script type="module" src="/script/dynamic_rewrite.js"></script>

<script type="module" src="/script/element_preview.js"></script>
