<a href="/admin/{{slug}}">Назад</a>

<form
  action="admin/create-text/{{slug}}"
  method="POST"
  enctype="multipart/form-data"
  id="text_form"
>
  <fieldset id="fieldset">
    <legend>Абзац</legend>

    <textarea name="desc" form="text_form" placeholder="desc"></textarea>
    <input type="file" name="image" accept="image/*" />
  </fieldset>

  <div id="button_container">
    <hr />
    <button id="addParagraph">Добавить абзац</button>
  </div>

  <div>
    <hr />
    <input type="submit" value="Сохранить" />
    <input type="submit" value="Удалить" />
  </div>
</form>

<script src="/script/constructor_text.js"></script>
