<a href="/admin/{{slug}}">Назад</a>

<form
  action="admin/create-gallery/{{slug}}"
  method="POST"
  enctype="multipart/form-data"
  id="gallery_form"
>
  <fieldset id="fieldset">
    <legend>Изображение</legend>

    <input type="file" name="image" accept="image/*" />
    <textarea name="desc" form="text_form" placeholder="desc"></textarea>
  </fieldset>

  <div id="button_container">
    <hr />
    <button id="addImage">Добавить изображение</button>
  </div>

  <div>
    <hr />
    <input type="submit" value="Сохранить" />
    <input type="submit" value="Удалить" />
  </div>
</form>

<script src="/script/constructor_gallery.js"></script>
