<a href="/admin/{{slug}}">Назад</a>
<hr />

<form
  action="/admin/{{pageSlug}}/{{slug}}"
  method="POST"
  enctype="multipart/form-data"
  id="image_form"
>
  <fieldset id="fieldset">
    <legend>Изображение</legend>

    <input type="file" name="image" accept="image/*" />
    <textarea name="desc" form="image_form" placeholder="desc"></textarea>
  </fieldset>

  <div id="button_container">
    <hr />
    <button id="addImageBttn">Добавить изобаржение</button>
  </div>

  <div>
    <hr />
    <input type="submit" value="Сохранить" />
    <input type="submit" value="Удалить" />
  </div>
</form>

<script src="/script/constructor_image.js"></script>
