<h1>Create</h1>
<form method="POST" action="/admin/create" id="create-form">
  <label for="email">e-mail</label>
  <input name="email" />

  <label for="password">password</label>
  <input name="password" />

  <button type="submit" form="create-form" value="Submit">Сохранить</button>
</form>
