<a href="/admin">Назад</a>

<form
  action="/admin/header"
  method="POST"
  enctype="multipart/form-data"
  id="header-form"
>

  <fieldset id="fieldset">
    <legend>header status</legend>
    <div id="footer-bcg_container"></div>
    <label for="header-title">header-title</label>
    <input
      type="text"
      name="header-title"
      placeholder="header-title"
      value="{{title}}"
    />
  </fieldset>

  <hr />

	<div id="elements-container">
  		{{#each elements}}
  			{{> header_element}}
  		{{/each}}
  	</div>

  <div id="button_container">
    <hr />
    <button id="addElemBttn">Добавить элемент</button>
  </div>
    <hr />
  <button type="submit" form="header-form" value="Submit">Сохранить</button>
</form>

<script type="module" src="/script/header_addElem.js"></script>
<script type="module" src="/script/header_moveElem.js"></script>
<script type="module" src="/script/header_removeElem.js"></script>
<script type="module" src="/script/header_inputImgPrv.js"></script>
