{{#> header header}}
	{{> header.meta}}
{{/ header}}

<form action="/admin/header" method="post" enctype="multipart/form-data" id="header" 
class="dynamic_container elements menu-wrapper wrapper grid-4">
	{{#each header.elements}}
  		{{#> element.admin }}
			{{> element.options}}
		{{/ element.admin}}
	{{/each}}

  	<div class="element-container pages_button-container">
		{{>ui/radio.big checked=(radio_check "cover") class="cover" text="Cover" name="objectFit" value="cover"}}
		{{>ui/radio.big checked=(radio_check "contain") class="contain" text="Contain" name="objectFit" value="contain"}}

  		{{> ui/button.plus}}

		<input id="header" class="header_delay-input" type="text" name="delay" value="{{header.delay}}" placeholder="Delay, MS" >

		{{> ui/button.big class="dynamic_rewrite" text="Save"}}
  	</div>
</form>

<script type="module" src="/script/dynamic_create.js"></script>
<script type="module" src="/script/dynamic_remove.js"></script>

<script type="module" src="/script/dynamic_move.js"></script>
<script type="module" src="/script/dynamic_rewrite.js"></script>

<script type="module" src="/script/element_preview.js"></script>
