<link rel="stylesheet" href="/style/header.css" />

<form
	class="header-form wrapper"
  action="/admin/header"
  method="POST"
  enctype="multipart/form-data"
  id="header-form"
>

	<div class="header_grid-container grid-4" >
  		<fieldset id="fieldset" class="header_fieldset">
  			<textarea
				class="header_textarea"
    			name="header-title"
    			form="header_form"
    			placeholder="header-title"
				>{{title}}</textarea>
  		</fieldset>

  		{{#each elements}}
  			{{> header_element  }}
  		{{/each}}
	</div>

  <div class="header_button-container">
    <button class="create-element">create element</button>
  	<button type="submit" form="header-form" value="Submit">save</button>
  </div>
</form>

<script type="module" src="/script/element-create.js"></script>
<script type="module" src="/script/element-remove.js"></script>
<script type="module" src="/script/element-move.js"></script>
<script type="module" src="/script/element-preview.js"></script>
