{{>header header}}

<form id="pages" class="menu-wrapper wrapper grid-4 dynamic_container">
  {{#each pages}}
  	{{#> element_client }}
		{{> element_options}}
	{{/ element_client}}
  {{/each}}
  <div class="element-container pages_button-container">
	{{> ui/button_big class="element-reorder" text="Reorder"}}
  	{{> ui/button_plus}}
  </div>
</form>

<h1>footer</h1>

<script type="module" src="/script/dynamic_move.js"></script>

<!-- <script type="module" src="/script/element-create.js"></script> -->
<!-- <script type="module" src="/script/element-remove.js"></script> -->
<!-- <script type="module" src="/script/element-move.js"></script> -->
<!-- <script type="module" src="/script/element-reorder.js"></script> -->
