<button>Назад</button>
<hr />
<div class="ticker">
  <h1>Статус</h1>
  <button>Редактировать</button>
</div>
<div class="projects">
  <h1>Progects</h1>
  {{#each items}}
    <a href="/admin/{{this.slug}}">{{this.title}}</a>
    <p><i>{{this.desc}}</i></p>
    <!-- <img src={{base64 this.img}} alt="" /> -->
  {{/each}}
  <hr />
  <a href="/admin/create">Создать страницу</a>
  <br />
  <a href="/admin/clear">Удалить все страницы</a>
</div>
<div class="footer">
  <h1>Footer</h1>
</div>
