<h1>Login</h1>
<form method="POST" action="/admin/login" id="login-form">
  <label for="email">e-mail</label>
  <input name="email" />

  <label for="password">password</label>
  <input name="password" />

  <button type="submit" form="login-form" value="Submit">Сохранить</button>
</form>
