<form id="login" method="post" action="/admin/login">
  <input id="login" type="text" name="email" placeholder="email" />
  <input id="login" type="text" name="password" placeholder="password" />
  <input id="login" type="submit" placeholder="password" />
</form>
