input[type="text"],
textarea {
  width: 100%;

  color: var(--grey-32);
  background-color: var(--grey-64);
}
textarea {
  min-height: 80px;
  resize: none;
}
input[type="text"]:focus,
textarea:focus {
  outline: none !important;
  color: var(--white);
  background-color: var(--grey-32);
}
.file-input {
  /* width: 100%; */
  /* height: 100%; */

  display: flex;
  justify-content: end;
  align-items: start;

  cursor: pointer;
  box-sizing: border-box;
  /* border: 4px dashed var(--grey-64); */
}
.meta-container .file-input {
  width: 100%;
  aspect-ratio: 3 / 2;
}
.elem-container .file-input {
  min-width: 640px;
  min-height: 640px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
