.grid-main {
  width: 100%;
  display: grid;

  /* grid-template-columns: 200px 1fr 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.grid-4 {
  width: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}
