<button>Назад</button>
<hr />
<div class="ticker">
	<h1>Ticker</h1>
	<button>Редактировать</button>
</div>
<div class="projects">
	<h1>Progects</h1>
	<button><a href="/admin/create-page">+</a></button>
</div>
<div class="footer">
	<button>Редактировать</button>
	<h1>Footer</h1>
</div>
