<button>Назад</button>
<hr />
<div class="ticker">
	<h1>Ticker</h1>
	<button>Редактировать</button>
</div>
<div class="projects">
	<h1>Progects</h1>
	{{#each items}}
		<a href="admin/{{this.slug}}">
			<p>{{this.title}}</p>
		</a>
		<p>{{this.desc}}</p>
		<img src={{base64 this.img}} alt="" />
	{{/each}}
	<button><a href="/admin/create-page">+</a></button>
	<button><a href="/admin/clear">Clear</a></button>
</div>
<div class="footer">
	<button>Редактировать</button>
	<h1>Footer</h1>
</div>
