<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ivanov Kirill</title>

    <link rel="stylesheet" href="/style/_reset.css" />
    <link rel="stylesheet" href="/style/_body.css" />
    <link rel="stylesheet" href="/style/_wrapper.css" />
    <link rel="stylesheet" href="/style/_grid.css" />
    <link rel="stylesheet" href="/style/_style.css" />
    <link rel="stylesheet" href="/style/_color.css" />
    <link rel="stylesheet" href="/style/_font.css" />
    <link rel="stylesheet" href="/style/_forms.css" />
    <link rel="stylesheet" href="/style/_button.css" />
    <link rel="stylesheet" href="/style/_scrollbar.css" />

    <link rel="stylesheet" href="/style/admin-panel.css" />
    <link rel="stylesheet" href="/style/menu.css" />
    <link rel="stylesheet" href="/style/header.css" />

    <link rel="stylesheet" href="/style/element.css" />
  </head>
  <body>
	{{> admin_panel}}
	{{> menu}}

    {{{body}}}
  </body>
</html>
