<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ivanov Kirill</title>

	<!-- GLOBAL -->
    <link rel="stylesheet" href="/style/global/_reset.css" />
    <link rel="stylesheet" href="/style/global/_body.css" />
    <link rel="stylesheet" href="/style/global/_wrapper.css" />
    <link rel="stylesheet" href="/style/global/_grid.css" />
    <link rel="stylesheet" href="/style/global/_style.css" />
    <link rel="stylesheet" href="/style/global/_color.css" />
    <link rel="stylesheet" href="/style/global/_font.css" />
    <link rel="stylesheet" href="/style/global/_scrollbar.css" />

	<!-- UI -->
    <link rel="stylesheet" href="/style/ui/_forms.css" />
    <link rel="stylesheet" href="/style/ui/_button.css" />
    <link rel="stylesheet" href="/style/ui/_border.css" />

	<!-- PARTIALS -->
    <link rel="stylesheet" href="/style/partials/admin-panel.css" />
    <link rel="stylesheet" href="/style/partials/meta.css" />

    <link rel="stylesheet" href="/style/partials/block.css" />
    <link rel="stylesheet" href="/style/partials/block-element.css" />
    <link rel="stylesheet" href="/style/partials/block_image.css" />
    <link rel="stylesheet" href="/style/partials/block_text.css" />
    <link rel="stylesheet" href="/style/partials/block-gallery.css" />

    <link rel="stylesheet" href="/style/partials/element.css" />

    <link rel="stylesheet" href="/style/partials/menu.css" />
    <link rel="stylesheet" href="/style/partials/header.css" />
    <link rel="stylesheet" href="/style/partials/pages.css" />
    <link rel="stylesheet" href="/style/partials/footer.css" />
  </head>
  <body>
	{{> admin_panel}}
	{{> menu}}

    {{{body}}}
  </body>
</html>
