/* OPTIONS */
.blocks {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.block-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.block_control-container {
  grid-column: 1 / 4;
}
.block-create_container {
  grid-column: 1/3;
  display: flex;
  gap: 32px;
}

.block_elements-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
