/* general */

/* admin */
.admin .element_text-container {
  max-height: 64%;
  height: 100%;
}
.element-container.admin textarea {
  height: 100%;
}

/* client */
.empty {
  float: bottom;
}

.element_control-container a {
  width: 100%;
}

.element_move-container {
  display: flex;
}

.element-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 2/3;
}
.element-container.client .element_abs-container {
  flex-direction: column-reverse;
}

.element-container_group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.element-container_group .element-container {
  aspect-ratio: 3/2;
}

.element_abs-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.element_abs-container > div {
  pointer-events: auto;
}
.element_control-container {
  display: flex;
}
.element_text-container {
  margin: 16px 24px;
  padding: 8px 6px;

  max-height: 64%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 8px;

  background-color: rgba(255, 255, 255, 0.8);

  /* background-color: var(--white); */
  /* opacity: 80%; */
}
.element-container_group .element_text-container {
  max-height: 36%;
}

.element_img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  border: 2px solid var(--grey-64);
  transition: border 0.1s ease-in;
}
.element_img-container:hover {
  border: 4px solid var(--grey-64);
}
.element_img-container img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.empty {
  background-image: url("/assets/empty.png");
  background-repeat: repeat;
  background-position: center center;
}
