/* META */
.footer_meta-container {
  display: flex;
  gap: 8px;
}

/* MAIN */
.footer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer_move-container {
  display: flex;
  gap: 8px;
}

.footer_link-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* BACKGROUND */
.footer_bcg-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

  background-color: var(--grey-32);
}
.footer_bcg-image {
  width: 100%;
  height: 100%;
}
.footer_bcg-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  image-rendering: pixelated;
  /* TODO Добавить в админку возможно изменять положение изображения. */
  object-position: 50% 50%;
}
