.menu {
  position: fixed;
  z-index: 1;

  width: 232px;
  height: 100%;
  margin-top: 24px;
  padding-top: 32px;

  display: flex;
  gap: 16px;
  flex-direction: column;
}
.menu li {
  /* padding-left: 32px; */
  padding-left: 8px;
  /* border-left: 2px solid var(--grey-32); */
}
.menu a {
  cursor: pointer;
  text-decoration: none;

  transition: transform 0.1s ease-in;
}
.menu a:hover {
  transform: translateX(2px);
}
