.menu {
  width: 232px;
  height: 100%;
  /* margin: 24px 0 0 32px; */
  margin-top: 24px;
  position: fixed;
  z-index: 1;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.menu a {
  padding-left: 32px;
  border-left: 2px solid var(--grey-32);

  text-decoration: none;
}
