<label class="input-file_container element-container element_file-label border">
  <input
    type="file"
    id="{{id}}"
    class="element_file-input"
    name="image"
    accept="image/*"
    hidden
  />
  <img src="/assets/input_file.svg" />
</label>
