<div class="input-color_container mono">
  <label for="color">Border color:</label>
  <input
    type="color"
    id="color"
    class="element_color-input"
    name="color"
    value="{{this.color}}"
  />
</div>
