<label id="{{id}}" class="button-text mono {{class}}">
  <input
    type="file"
    id="{{id}}"
    class="element_file-input"
    name="image"
    accept="image/*"
    hidden
  />
  {{text}}
</label>
