<div class="input-color_container mono">
  <input
    type="color"
    id="color"
    class="element_color-input"
    name="color"
    value="{{this.color.current}}"
  />
  <div style="background-color: var(--grey-32);"></div>
  <div style="background-color: var(--grey-64);"></div>
</div>
