<label
  id="button_file-input"
  class="button-big element-container button-big_svg"
>
  <input
    type="file"
    id="{{id}}"
    class="element_file-input"
    name="image"
    accept="image/*"
    hidden
  />
  <svg
    width="97"
    height="96"
    viewBox="0 0 97 96"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M62.5333 0V8H8V88H88V33.6H96V88C96 90.1333 95.2 92 93.6 93.6C92 95.2 90.1333 96 88 96H8C5.86667 96 4 95.2 2.4 93.6C0.8 92 0 90.1333 0 88V8C0 5.86667 0.8 4 2.4 2.4C4 0.8 5.86667 0 8 0H62.5333ZM85.3333 0V10.8H96.1333V18.8H85.3333V29.6H77.3333V18.8H66.5333V10.8H77.3333V0H85.3333ZM16 74.4H80L60.8 48.8L43.8667 71.0667L31.3333 54.5333L16 74.4ZM8 8V88V8Z"
      fill="#A4A4A4"
    ></path>
  </svg>

</label>
