<div class="block_elements-container {{this.type}}">
  {{#each this.elements}}
    <div class="block_element-container grid-main">
      <div class="block-element_image-container">
		  {{> (image) }}
	  </div>
      <div class="block-element_text-container">
        <h2>{{this.title}}</h2>
        <p>{{this.desc}}</p>
      </div>
    </div>
  {{/each}}
</div>
