<div class="text_element-container">
  <h1>Форма и Цвет храма.</h1>
</div>
<div class="text_element-container">
  <h1>Заголовок второго уровня. Вторая строка</h1>
</div>
<div class="text_element-container">
  <h1>Храм был высечен из цельного куска белой мраморной скалы с вкраплениями
    жил большого количества разных пород. Уникальные сочетания материалов
    добавляли храму природного величия. Тщательная полировка заставляла блестеть
    эти минералы и руды. Много путников пало, пытаясь ощутить могущество этого
    вечного здания. Было очевидно, что создать красоту такого масштаба без
    помощи божества простым архитекторам было просто невозможно.
  </h1>
</div>
