<div class="block_control-container grid-main">
	<div class="blockl_move-container" >
		{{>ui/button_big class="dynamic_move-up" text="Вверх"}}
		{{>ui/button_big class="dynamic_move-down" text="Вниз"}}
	</div>
	<a href="/admin/{{pageId}}/{{blockId}}">{{> ui/button_big text=pageId}}</a>
<div>{{> ui/button_big text="Удалить" class="dynamic_remove"}}</div>
</div>
