<div class="block_control-container grid-main menu-wrapper wrapper">
	<div>
		{{>ui/button.small class="dynamic_move-up" text="Вверх"}}
		{{>ui/button.small class="dynamic_move-down" text="Вниз"}}
	<a href="/admin/{{pageId}}/{{blockId}}">{{> ui/button.small text=blockId}}</a>
{{> ui/button.small text="Удалить" class="dynamic_remove"}}
	</div>
</div>
