<div class="element_move-container">
	{{> ui/button.small text="▲" class="dynamic_move-up"}}
	{{> ui/button.small text="▼" class="dynamic_move-down"}}
</div>
<a href="/admin/{{this.id}}">{{> ui/button.small text=this.id}}</a>
{{> ui/button.small text="✕" class="dynamic_remove"}}
