<div id="{{id}}" class="dynamic_container footer_link-container {{id}}">

	{{#each links}}
		<fieldset id={{this.id}} class="footer_element-container dynamic_element">
			<textarea class="footer_text-input">{{{this.text}}}</textarea>
			<div class="footer_element-options-container">
				{{>ui/button.small id=this.id class="dynamic_remove" text="-" }}
				<div class="footer_element-arrows-container">
					{{> ui/button.small text="▲" class="dynamic_move-up"}}
					{{> ui/button.small text="▼" class="dynamic_move-down"}}
				</div>
			</div>
		</fieldset>
	{{/each}}

	<div class="footer_group-options">
		<!-- TODO Переписать функцию Rewrite. Чтобы она была не для каждого элемента, а глобально на весь футер. -->

		{{>ui/button.small id=id class="dynamic_create" text="+" }}
		{{>ui/button.small text="Rewrite" class="dynamic_rewrite"}}
	</div>

</div>
