<footer class="footer">
	{{#if @partial-block}}
		<div class="footer_control-container menu-wrapper wrapper grid-main">
			{{> @partial-block }}
		</div>
	{{/if}}

	<div class="footer_content-container menu-wrapper wrapper grid-main">
		<div id="group1" class="dynamic_container footer_link-container group1">
			{{#each this.group1}}
				{{>footer.element_admin}}
			{{/each}}

			{{>ui/button.small id="group1" class="dynamic_create" text="+" }}
			{{>ui/button.small text="R" class="dynamic_rewrite"}}
		</div>
		<div id="group2" class="dynamic_container footer_link-container group2">
			{{#each this.group2}}
				{{>footer.element_admin}}
			{{/each}}

			{{>ui/button.small id="group2" class="dynamic_create" text="+" }}
			{{>ui/button.small text="R" class="dynamic_rewrite"}}
		</div>
		<div id="group3" class="dynamic_container footer_link-container group3">
			{{#each this.group3}}
				{{>footer.element_admin}}
			{{/each}}

			{{>ui/button.small id="group3" class="dynamic_create" text="+" }}
			{{>ui/button.small text="R" class="dynamic_rewrite"}}
		</div>
	</div>


	<div class="footer_bcg-container element_img-container">
	</div>
</footer>
