<form action="/admin/footer" method="POST" class="header_letters-input mono" >
	{{> ui/input_fileSmall class="element-file_input" id="footer" text="bcg"}}
	<div class="footer_move-container">
	{{> ui/button_small class="dynamic_bcg-up" id="footer" text="▲"}}
	{{> ui/button_small class="dynamic_bcg-down" id="footer" text="▼"}}
	</div>
	<input type="submit" value="Send" />
</form>
