<footer class="footer dynamic_element">

	{{> footer.admin.meta}}

	<div class="footer_content-container menu-wrapper wrapper grid-main mono">
		{{> footer.admin.group links=group1 id='group1'}}
		{{> footer.admin.group links=group2 id='group2'}}
		{{> footer.admin.group links=group3 id='group3'}}
	</div>


	<div class="footer_bcg-container element_img-container">
        <div class="footer_bcg-image dynamic_preview-container">
			<img src={{base64 this.thumbnail}} style="object-fit: {{this.objectFit}}; object-position: {{this.objectPosition}}" alt="header background" />
        </div>
	</div>
</footer>
