<form action="/admin/footer/meta" method="POST" class="footer_meta-container mono" >
	{{> ui/input.file.small class="element-file_input" id="footer" text="BACKGROUND"}}
	{{> ui/input.color class="element-color_input" id="footer"}}
	<input type="submit" class="button-text" value="SEND" />
</form>
