<fieldset id="fieldset">
  <legend>
    <input type="text" name="element-slug" readonly value="{{this.slug}}" />
  </legend>

  <button id="upElemBttn {{this.slug}}" class="upElemBttn">Вверх</button>
  <button id="downElemBttn {{this.slug}}" class="downElemBttn">Вниз</button>
  <hr />

  <div id="header-bcg_container"></div>
  <hr />

  <label for="header-bcg">header-bcg</label>
  <input type="file" id="header-bcg_input" name="header-bcg" accept="image/*" />
  <hr />

  <button id="removeElemBttn {{this.slug}}" class="removeElemBttn">Удалить
    элемент</button>
</fieldset>
