<form action="/admin/header/meta" method="POST" class="header_letters-input mono" >
	<input id="header" type="text" name="title" value="{{this.title}}" placeholder="title" maxlength="24" >
	{{> ui/input.color this}}
	{{> ui/select.mixBlendMode }}
	<input type="submit" value="Send" />
</form>
