<ul class="menu mono">
  <li><a href="/">Дом</a></li>
  <li>***</li>
  {{#each pages}}
    <li><a href="/{{this.id}}">{{this.title}}</a></li>
  {{/each}}
  <li>***</li>
  <li><a href="/">Связь</a></li>
</ul>
