.button-text {
  width: 18px;
  height: 18px;

  cursor: pointer;
  text-align: center;
  flex-shrink: 0;

  color: var(--grey-32);
  background-color: var(--grey-64);
}
a .button-text {
  width: 100%;
}

.button-text:hover {
  color: var(--grey-64);
  background-color: var(--grey-32);
}

/* BIG */
.button-big {
  padding: 8px 32px;
  text-align: center;

  background-color: var(--white);
  border: 1px solid var(--grey-64);
  transition: border 0.1s ease-in, background-color 0.1s ease-in;
}
.button-big h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  color: var(--grey-32);
  transition: color 0.1s ease-in;
}
.button-big:hover {
  background-color: var(--grey-32);
  border: 1px solid var(--grey-32);
}
.button-big:hover h1 {
  color: var(--white);
}

/* CREATE */
.button_plus {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--white);
  border: 1px solid var(--grey-64);
  transition: border 0.1s ease-in, background-color 0.1s ease-in;
}
.button_plus:hover {
  background-color: var(--grey-32);
  border: 1px solid var(--grey-32);
}
