input[type="text"],
textarea {
  width: 100%;
  padding: 2px;
  box-sizing: border-box;

  outline: 1px solid var(--grey-32);
  color: var(--grey-32);
  background-color: var(--grey-64);
}
input[readonly] {
  color: var(--white);
  background-color: var(--grey-64);
}
textarea {
  min-height: 80px;
  resize: none;
}
input[type="text"]:focus,
textarea:focus {
  /* outline: none !important; */
  /* color: var(--white); */
  /* background-color: var(--grey-32); */
  color: var(--black);
  outline: 1px solid var(--black);
}
.input-file_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--grey-64);
  transition: border 0.1s ease-in;
}
.input-file_container:hover {
  border: 8px solid var(--grey-64);
}

.button-big:has(input[type="radio"]:checked) {
  background-color: var(--grey-32);
  border: 1px solid var(--grey-32);
}
.button-big input[type="radio"]:checked + h1 {
  color: var(--white);
}

/* COLOR */
input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}
::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
}
::-moz-focus-inner {
  padding: 0;
}
