{{> page/page.meta page}}

<div id="{{page.id}}" class="blocks dynamic_container">
	{{#each page.blocks}}
		<div id="{{this.id}}" class="block-container dynamic_element" >
			{{> block/block.options pageId=../page.id blockId=this.id}}
			{{> block/block}}
			<div class="menu-wrapper wrapper"><hr></div>
		</div>
	{{/each}}

	<div class="page_buttons grid-main menu-wrapper wrapper" >
		<div class="block-create_container" >
			{{>ui/button.big class="dynamic_create image" text="Изображине"}}
			{{>ui/button.big class="dynamic_create text" text="Текст"}}
			{{>ui/button.big class="dynamic_create gallery" text="Галлерея"}}
		</div>
		<div>
			{{>ui/button.big class="dynamic_rewrite" text="Reorder"}}
		</div>
	</div>
</div>


<script type="module" src="/script/dynamic_create.js"></script>
<script type="module" src="/script/dynamic_remove.js"></script>

<script type="module" src="/script/dynamic_move.js"></script>
<script type="module" src="/script/dynamic_rewrite.js"></script>

<script type="module" src="/script/dynamic_preview.js"></script>
