{{#> header/header header}}
	<a href="/admin/header" >{{> ui/button.big class="header_open-editor" text="Редактировать"}}</a>
{{/ header/header}}

<form id="index" class="menu-wrapper wrapper grid-4 dynamic_container">
  {{#each pages}}
  	{{#> element/element.client }}
		{{> element/element.options}}
	{{/ element/element.client}}
  {{/each}}
  <div class="element-container pages_button-container">
	{{> ui/button.big class="dynamic_rewrite" text="Reorder"}}
  	{{> ui/button.plus}}
  </div>
</form>

{{#> footer/footer.client footer}}
	<a href="/admin/footer" >{{> ui/button.big class="footer_open-editor" text="Редактировать"}}</a>
{{/ footer/footer.client}}

<script type="module" src="/script/dynamic_create.js"></script>
<script type="module" src="/script/dynamic_remove.js"></script>

<script type="module" src="/script/dynamic_move.js"></script>
<script type="module" src="/script/dynamic_rewrite.js"></script>
